[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
yliveticker = "*"
numpy = "*"
pandas = "*"
yfinance = "*"
plotly = "*"
apscheduler = "*"
tzdata = "*"
sklearn = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.10"
