[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "0.1.72"
overrides = "*"
sklearn = "*"
keras = "*"
tensorflow = "*"
fastai = "*"
ta = "*"
xgboost = "*"
joblib = "*"
flask = "*"
flask-restx = "*"
werkzeug = "==2.1.2"

[dev-packages]

[requires]
python_version = "3.10"
